* {
  background-color: white;
  box-sizing: border-box;
  margin: auto 0;
}

a {
  text-decoration: none;
  list-style: none;
  color: #444;
}
.container {
  margin: 1% 0 10% 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  height: 10vh;
}
.logo {
  font-size: 28px;
  font-size: 900;
}
.navigation-tabs {
  font-family: "Noto Sans", sans-serif;
  display: flex;
  text-decoration: none;
  list-style: none;
  font-size: 17px;
  opacity: 0.7;
}
.navigation-tabs li {
  margin-right: 30px;
}
.navigation-tabs li:last-child {
  padding-right: 0px;
}

.main {
  height: 80vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 30px;
}

.img-placeholder {
  margin-top: 40px;
  width: 100%;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-content-subcontainer {
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.main-title {
  font-family: "Noto Sans", sans-serif;
  font-weight: 900;
  font-size: 22px;
  line-height: 1.1;
}
.content-and-button-container {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  text-align: left;
  padding-left: 70px;
  margin-top: 6%;
}

.main-button {
  color: white;
  background-color: coral;
  border: 1px solid coral;
  font-size: 15px;
  width: 40%;
  padding: 10px;
  margin-top: 35px;
}

.sidebar {
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(3, 2, 14);
  width: 75%;
  margin: 3.5% 1% 1% 2%;
  text-align: left;
  line-height: 1.7;
}
.sidebar > h1 {
  background-color: rgb(3, 2, 14);
  color: rgb(221, 152, 15);
  padding: 10px 35px 10px 35px;
}
.sideArticle {
  background-color: rgb(3, 2, 14);
  padding: 10px 25px 10px 25px;
}
.sideArticle > h3 {
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(3, 2, 14);
  color: #fff;
  padding-bottom: 15px;
}
.sideArticle > p {
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(3, 2, 14);
  color: #fff;
  padding-bottom: 15px;
  opacity: 0.7;
  font-size: 12px;
  border-bottom: 0.5px solid;
}
.sideArticle:last-child > p {
  border-bottom: none;
}
.bottomArt-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-top: 7%;
}

.bottomArticle {
  font-family: "Noto Sans", sans-serif;
  height: 10vh;
  width: 30%;
  display: flex;
}
.bottomArticle h3 {
  font-family: "Noto Sans", sans-serif;
  margin: 15px 0 15px 0;
}
.bottomArticle p {
  opacity: 0.6;
}
.bottomArt-img {
  height: 140px;
  margin-right: 15px;
}
.article-number {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: rgb(101, 100, 100);
  opacity: 0.6;
}
